*{
    padding: 0;
    margin: 0;
    background-color: #bbd0ff;

}

.career{
    margin: 20px;
}

.career h2{
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    
}

.career h2:hover{
    text-shadow: 0 0 3px #355070;
}
.career p{
    font-family: 'Roboto Condensed', sans-serif;
}

.career p{
    padding-left: 50px;
    padding-top: 10px;
}
ul li{
    list-style-type: none;
}

ul li::before{
    content: "✅";
    padding-right: 15px;
    
}

.professional{
    margin: 20px;
}

.professional h2{
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.professional h2:hover{
    text-shadow: 0 0 3px #355070;
}

.professional ul{
    padding-left: 50px;
    padding-top: 10px;
    list-style-type: square;
    
}

.professional ul li{
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}