* {
  margin: 0;
  padding: 0;
}
.header {
  border: 1px solid black;
  background:-webkit-linear-gradient(
    right,
    #b2f7ef,
    #fbf8cc
  );
  color: rgb(0, 0, 0);
  height: 30px;
  text-align: right;
}

.header span {
  font-family: "Kalnia", serif;
  padding-left: 20px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
#logo {
  position: relative;
  font-family: 'Abril Fatface', serif;
  float: left;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-left: 20px;
  text-decoration: underline;
}

.navbar {
  border: 1px solid black;
  background:-webkit-linear-gradient(
    right,
    #ffd6ff,
    #8eecf5
  );
  align-items: center;
  text-align: center;
  padding: 10px;
}

.navbar a {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-decoration: none;
  padding-left: 30px;
  align-items: center;
}

.navbar a:hover {
  
  text-shadow: 0 0 3px #757171;
}

.footer {
  border: 1px solid black;
  background:-webkit-linear-gradient(
    right,
    #fbf8cc,
    #b9fbc0
  );
  text-align: center;
}

.footer a {
  padding: 20px;
  font-size: 25px;
}
